h1 {
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
    font-size: 30px;
}
section {
    margin: auto;
    padding: 0px 10px 20px 10px;
    width: 600PX;
    background-color: rgb(85, 169, 234);
    text-align: center;
    border-radius: 60px;
    box-shadow: 1px 0px 20px 4px black;
    outline: 2px solid #000;
}
select{
    border: transparent;
    position: relative;
    left: -120px;
    padding: 10px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}
span{
    position: relative;
    background-color: white;
    padding: 7px;
    top: -300px;
    border-radius: 20px;
}
footer{
    text-align: center;
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    border-radius: 20px;
}