body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  font-size: 50pt;
  width: 60pt;
  margin: 4px 2px;
}
div#mostrador {
  font-size: 50pt;
  height: 82px;
  border: 3px solid black;
  border-style: dotted;
  padding: 2px 12px;
  width: 318px;
  overflow: hidden;
  overflow-x: auto;
}
button#apagar {
  width: 258pt;
  text-align: center;
}
