body{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    gap: 5%;
}
main{
    background-color: aliceblue;
    padding: 7% 5%;
    border: 1px solid black;
}
h1{
    margin: auto;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
div{
    display: flex;
    gap: 1em;
}